
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



:root {
  --bg-color: #fafafa;
  --text-color: #111827;
  --link-color: #646cff;
  --hover-link-color: #61dafb;
}


.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --link-color: #646cff;
  --hover-link-color: #61dafb;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-link-color);
}
